body {
    background-color: rgb(161, 152, 152);
}

.ex1 {
    width: 400px;
    height: 300px;
    background-color: aquamarine;
}

.div1 {
    width: 680px;
    background-color: rgb(157, 243, 178);
}

.ex2 {
    max-width: 680px;
    background-color: rgb(141, 141, 214);
}