body {
    background-color: rgb(237, 241, 171);
}

.ex1 {
    background-color: rgb(170, 155, 184);
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: blue;
}

.ex2 {
    background-color: aquamarine;
    text-decoration-line: overline;
    text-decoration-style: double;
    text-decoration-color: rgb(255, 0, 255);
}

.ex3 {
    background-color: seagreen;
    text-decoration-line: line-through;
    text-decoration-style: wavy;
    text-decoration-color: rgb(131, 56, 56);
}