body {
    background-color: rgb(75, 110, 97);
    color: white;
}

.ex1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: rgb(163, 187, 163);
}

.ex1 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rosybrown;
}

/* Exemplo de justify-content: flex-start */

.ex2 {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    background-color: rgb(163, 187, 163);
}

.ex2 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rosybrown;
}

/* Exemplo de justify-content: flex-end */

.ex3 {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    background-color: rgb(163, 187, 163);
}

.ex3 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rosybrown;
}

/* Exemplo de justify-content: space-around */

.ex4 {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    background-color: rgb(163, 187, 163);
}

.ex4 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rosybrown;
}

/* Exemplo de justify-content: space-between */

.ex5 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: rgb(163, 187, 163);
}

.ex5 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rosybrown;
}

/* Exemplo de justify-content: space-evenly */

.ex6 {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    background-color: rgb(163, 187, 163);
}

.ex6 div {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: rosybrown;
}