body {
    background-color: rgb(0, 0, 0);
}

.ex1 li {
    list-style: none;
    position: relative;
    padding-left: 35px;
}

.ex1 li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 3px;
    width: 15px;  
    height: 15px;  
    background-image: url(../img/microsoft.png);
    background-size: contain;
    background-repeat: no-repeat;
}