body {
    background-color: rgb(203, 230, 221);
}

.ex1 {
    border: 6px solid white;
}

.ex2 {
    border: 6px solid white;
    border-width: medium;
}

.ex3 {
    border: 6px dotted olivedrab;
}

.ex4 {
    border: dotted olivedrab;
    border-width: thick;
}

.ex5 {
    border: solid black;
    border-width: 20px 10px;
    border-color: blue orange pink red;
}

.ex6 {
    border-top-style: solid;
    border-right-style: dotted;
    border-bottom-style: double;
    border-left-style: none;
}

.ex7 {
    border: 6px solid rgb(204, 122, 122);
    border-radius: 20px;
}