body {
    background-color: rgb(203, 233, 233);
}

.ex1 {
    background-color: white;
    width: 400px;
    margin: 0px auto;
    padding: 50px 50px 30px 20px;
    
    /* padding-top: 50px;
    padding-right: 50px;
    padding-bottom: 30px;
    padding-left: 20px; */
}