body {
    background-color: rgb(212, 177, 245);
}

div {
    display: flex;
}

.ex1 {
    background-color: aqua;
    width: 200px;
    margin: 40px 0px 0px 100px;
}

.ex2 {
    background-color: rgb(141, 141, 214);
    width: 200px;
}

.ex3 {
    background-color: rgb(141, 141, 214);
    width: 250px;
    margin: 100px auto;
}